body {
  background-color: pink;
}

h1 {
  color: navy;
  margin-left: 20px;
}

table {
  width: 20%;
}

th {
  height: 70px;
}
.monospace {
  font-family: "Lucida Console", Courier, monospace;
}
table {
  border=collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
