body {
    background-color: pink;
  }
  
  h1 {
    text-shadow: 25px 15px 3px darkblue;
    color: navy;
    margin-left: 20px;
  }
  
  
  .monospace {
    font-family: "Lucida Console", Courier, monospace;
  }
  
  
  h2 {
    color: gray;
    margin-left: 20px;
  }
  
  h3 {
    color: white;
    margin-left: 20px;
  }
  
  table, th, td{
      border:1px solid blue;
  }
  table{
      background-color:lightpurple;
  }
  th{
      height: 25px;
      text-align: center;
      background-color:orange;
  }
  td{
      text-align: left;
  }
  th, td{
      border-bottom:1px solid green;
      border-top:1px solid green;
      border-left: 1px solid green;
      border-right: 1px solid green;
  }
  tr:nth-child(even){background-color:lightblue;}
  tr:hover{background-color:wheat;}
  
  .obraz {
      height: 500px;
      width: 500px;
      top: 10%;
      right: 10%;
      position: absolute;
  }
  
  



.link{
    text-decoration: none;
    padding:10px;
    background:black;
    color:white;
}
.link:hover{background-color:gray;}
.item{
    display:flex;
    align-items: center;
    flex-direction: column;
}
.nav1{
    display:flex;
    justify-content: center;
    width: 11,5%;
    height: 40px;
    background:black;
    position:absolute;
    left:3%;
}
  
