body {
    background-color: pink;
  }
h5 {
    color: #3a383e;
    margin-left: 20px;
    font-size: 32px;
  }  
  
h1 {
    text-shadow: 25px 15px 3px #b97d7d;
    color: wheat;
    margin-left: 20px;
  }
  
  
  .monospace {
    font-family: "Lucida Console", Courier, monospace;
  }
  
  
  h2 {
      color: white;
    margin-left: 20px;
    font-size: 27px;
  }
  
  h3 {
    color: white;
    margin-left: 20px;
    font-size: 30px;
  }
  
  table, th, td{
      border:1px solid blue;
  }
  table{
      background-color: #ffffff;

  }
  th{
      height: 25px;
      text-align: center;
      background-color:orange;
  }
  td{
      text-align: left;
  }
  th, td{
      border-bottom:1px solid green;
      border-top:1px solid green;
      border-left: 1px solid green;
      border-right: 1px solid green;
  }
  tr:nth-child(even){background-color:lightblue;}
  tr:hover{background-color:wheat;}
  
  .index {
      height: 100%;
      width: 100%;
      top: 0%;
      right: 0%;
      position: absolute;
      z-index: -1;
  }
  
.obraz2 {
      height: 100%;
      width: 100%;
      top: 0%;
      right: 0%;
      position: absolute;
	z-index: -1;
  }
.obraz3 {
      height: 100%;
      width: 100%;
      top: 0%;
      right: 0%;
      position: absolute;
	z-index: -1;
  }
a {
text-decoration: none;
background-color: #ff9999;
padding: 1rem;
border: 1px solid black;
  border-radius: 4px;
}

a:hover {
  background-color: #ffe6e6;
  }
  
input {
margin: 3px;
}

li {
font-size: 30px;
color: white;
margin-left: 40px;
margin-top: 20px;
font-style: oblique;
font-weight: 1000;
}

input{
width: 140px;
  padding: 10px 10px;
  margin: 3px 0;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 4px;
  
}


.agregat {
      height: 3000px;
      width: 100%;
      top: 0%;
      right: 0%;
      position: absolute;
      z-index: -1;
}

.pracownicy {
      height: 100%;
      width: 100%;
      top: 0%;
      right: 0%;
      position: absolute;
      z-index: -1;
}

.dataiczas {
      height: 100%;
      width: 100%;
      top: 0%;
      right: 0%;
      position: absolute;
      z-index: -1;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

f {
text-decoration: none;
background-color: #ff9999;
padding: 1rem;
border: 1px solid black;
  border-radius: 4px;
}

