body {
  background-color: pink;
}

h1 {
  color: navy;
  margin-left: 20px;
}


.monospace {
  font-family: "Lucida Console", Courier, monospace;
}


h2 {
  color: gray;
  margin-left: 20px;
}

h3 {
  color: white;
  margin-left: 20px;
}

table, th, td{
    border:1px solid blue;
}
table{
    background-color:lightpurple;
}
th{
    height: 25px;
    text-align: center;
    background-color:orange;
}
td{
    text-align: left;
}
th, td{
    border-bottom:1px solid green;
    border-top:1px solid green;
    border-left: 1px solid green;
    border-right: 1px solid green;
}
tr:nth-child(even){background-color:lightblue;}
tr:hover{background-color:wheat;}
