h1 {
    background-color: lightblue;
  }
  
  .gallery {
    display: flex;
  }
  
  .row {
    background-color: lightcoral;
  }
  
  .image {
    background-color: lightblue;
    margin: 5px;
    padding: 0px;
    width: 500px;
    height: 300px;
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: contain, cover; */
    background-position: center;
    background-size: cover;
    transition: 0.51s;
  }
  
  .image:hover {
    transform: scale(0.98);
    filter: saturate(2.2) brightness(1.4);
  }
  
  .foto01 {
    background-image: url("https://cdn.discordapp.com/attachments/692421934859681863/842320608120274964/maxresdefault.png");
  }
  .foto01:hover {
    background-image: url("https://cdn.discordapp.com/attachments/692421934859681863/842320712224342016/eea54e6640ca9cb2793f2bd9b505.png");
  }
  
  .foto02 {
    background-image: url("https://cdn.discordapp.com/attachments/692421934859681863/842320946081562634/The-Last-of-Us-Part-2-update-patch-notes.png");
  }
  
  .foto03 {
    background-image: url("https://cdn.discordapp.com/attachments/692421934859681863/842320994912043038/social-pl.png");
  }
  
  .foto01_title {
    background-color: white;
    padding: 5px;
    display: block;
  }
  .foto01_price {
    background-color: white;
    padding: 5px;
    display: block;
  }
  