{
    margin: 0px;
    padding: 0px;
}
.con{
    height: 20%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}
.item{
    display:flex;
    width:350px;
    height:250px;
    background:lightcoral;
}
.kwadrat{
    height: 100px;
    width: 100px;
    background:red;
    margin:5px;
}
.prostokat{
    height: 100px;
    width: 200px;
    background: red;
    margin:5px;
}
.a{
    justify-content: flex-start;
}
.b{
    justify-content: flex-end;
}
.c{
    align-items: flex-end;
}
.d{
    justify-content: flex-end;
    align-items: flex-end;
}
.e{
    justify-content: center;
}
.f{
    justify-content: center;
    align-items: center;
}
.g{
    justify-content: center;
    align-items: flex-end;
}
.h{
    justify-content: flex-start;
}
.i{
    justify-content: center;
}
.j{
    justify-content: center;
    align-items: center;
}
.k{
    justify-content: center;
    align-items: flex-end;
}
.menu{
    display:flex;
    height: 100%;
    width:100%;
    justify-content: space-around;
    align-items: center;
}
.linka{
    padding:10px;
    text-decoration: none;
    background:lightseagreen;
    margin: 1px;
}
.linka:hover{
    color:red;
    background:black;
    transition:1s;
}
.linkb{
    padding:10px;
    text-decoration: none;
    background:lightpink;
    margin: 1px;
}
.linkb:hover{
    background:blueviolet;
    padding:25px;
    border-radius: 10px;
    transition: 1s;
}
.menub{
    display:flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}
.linkc{
    background:lightsteelblue;
    width:100%;
    height: 100%;
    display:flex;
    justify-content: center;
    text-decoration: none;
    border:3px solid black;
    margin: 1px;
}
.linkc:hover{
    justify-content: flex-start;
    border:1px solid magenta;
    background-color: blue;
    font-size: 20px;
    transition: 1s;
    color:white;
}
.linkd{
    background:lightblue;
    width:100%;
    height: 100%;
    display:flex;
    justify-content: center;
    text-decoration: none;
    margin-bottom:2px;
}
.linkd:hover{
    background:red;
    color:red;
    
    border-radius:5px;
    transition: 1s;
}

