h1 {
    background-color: lightblue;
  }
  
  .gallery {
    display: flex;
  }
  
  .row {
    background-color: rgb(51, 108, 177);
  }
  
  .image {
    background-color: rgb(0, 84, 112);
    margin: 5px;
    padding: 0px;
    width: 500px;
    height: 300px;
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: contain, cover; */
    background-position: center;
    background-size: cover;
    transition: 0.51s;
  }
  
  .image:hover {
    transform: scale(0.98);
    filter: saturate(2.2) brightness(1.4);
  }
  
  .foto01 {
    background-image: url("https://cdn.discordapp.com/attachments/692421934859681863/842320608120274964/maxresdefault.png");
  }
  .foto01:hover {
    background-image: url("https://cdn.discordapp.com/attachments/692421934859681863/842320712224342016/eea54e6640ca9cb2793f2bd9b505.png");
  }
  
  .foto02 {
    background-image: url("https://cdn.discordapp.com/attachments/692421934859681863/842320946081562634/The-Last-of-Us-Part-2-update-patch-notes.png");
  }
  
  .foto03 {
    background-image: url("https://cdn.discordapp.com/attachments/692421934859681863/842320994912043038/social-pl.png");
  }
  .foto04 {
    background-image: url("https://cdn-l-mkt.cdprojektred.com/image/dario.J.jpg");
  }
  .foto05 {
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/8b4a6543-118a-43c6-a248-2af2aeca5356/ddsbcim-37c3639f-b82d-45da-9a4b-2af10eb28e75.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzhiNGE2NTQzLTExOGEtNDNjNi1hMjQ4LTJhZjJhZWNhNTM1NlwvZGRzYmNpbS0zN2MzNjM5Zi1iODJkLTQ1ZGEtOWE0Yi0yYWYxMGViMjhlNzUuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.uWI_qUSFTF1_5CX8PH-FT0dPu0Clm08yzqBXfX1rgWs");
  }
  
  .foto01_title {
    background-color: rgba(33, 191, 65, 0.508);
    padding: 5px;
    display: block;

  }
  .foto01_price {
    background-color: rgba(33, 191, 65, 0.508);
    padding: 5px;
    display: block;
  }
  